use esp_idf_svc::nvs::EspDefaultNvs;
use esp_idf_svc::nvs::EspDefaultNvsPartition;

fn main() -> anyhow::Result<()> {
    esp_idf_hal::sys::link_patches();

    println!("Hello, world!");
    let nvs = EspDefaultNvsPartition::take()?;
    let flash = EspDefaultNvs::new(nvs,"test",true)?;
    // flash.set_u8("test", 0x12)?;
    match flash.get_u8("test")? {
        Some(val) => println!("Value: 0x{:02x}", val),
        _ => println!("Value not found"),
    }
    Ok(())
}